[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Vendor/doxygen-awesome-css"]
	path = Vendor/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
